[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
ipykernel = "*"

jupyter_contrib_nbextensions = "*"  # needed by pipenv shell

[dev-packages]

[requires]
python_version = "3.6"
