[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
ipykernel = "*"

# nbextensions
jupyter-nbutils = "*"
jupyter_contrib_nbextensions = "*"  # needed by pipenv shell

daiquiri = "*"
csscompressor = "*"

[dev-packages]

[requires]
python_version = "3.6"
